# LaTeX
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.out
*.toc
*.lof
*.lot
*.lol
*.loa
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.glsdefs
*.fls
*.fdb_latexmk
*.dvi
*.xdv
*.nav
*.snm
*.vrb
*.mtc*
*.maf
*.mp
*.mpx
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.fdb_latexmk
*.synctex(busy)
*.synctex.gz(busy)
*.synctex.gz